services:
  netatmo-exporter:
    image: ghcr.io/karaktaka/netatmo-exporter
    restart: unless-stopped
    environment:
      - NETATMO_CLIENT_ID=
      - NETATMO_CLIENT_SECRET=
      - REFRESH_TOKEN=
      - INTERVAL=600
      - LOGLEVEL=INFO
      - LISTEN_PORT=9126
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - netatmo-token:/app/token.json:rw
      
volumes:
  netatmo-token:
