services:
  netatmo-exporter:
    build:
      context: .
      dockerfile: Dockerfile
    image: localhost/netatmo-exporter
    restart: unless-stopped
    volumes:
      - ./src/config.yaml:/app/config.yaml:rw
      - data:/app/data:rw

volumes:
  data:
