[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyatmo = ">=7.6,<8"
prometheus-client = "0.21.1"
pyyaml = ">=6.0.2,<7.0"

[dev-packages]
flake8 = "*"
black = {extras = ["d"], version = "*"}

[requires]
python_version = "3.12"
